<% layout(layoutView) %>
<script type="text/x-mathjax-contfig">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" src="/js/lib/MathJax/MathJax.js?contfig=TeX-AMS-MML_HTMLorMML"></script>
<div class="contain">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="text-center">
				<div><h1><%=pro.subId %> <%=pro.title %></h1></div>
				<div>
					Time Limit: <span class="label label-warning"><%=pro.timeLimit %>ms</span>&nbsp;&nbsp;
					Memory Limit: <span class="label label-warning"><%=pro.memoryLimit %>MB</span>
				</div>
				<div>
					Tried: <span class="label label-info"><%=pro.tried %></span>&nbsp;&nbsp;
					Solved: <span class="label label-success"><%=pro.solved %></span>
				</div>
			</div>
			<div class="text-left">
				<div>
					<div class="info">Description</div>
					<div class="detail"><%-pro.description %></div>
				</div>
				<div>
					<div class="info">Input</div>
					<div class="detail"><%-pro.input %></div>
				</div>
				<div>
					<div class="info">Output</div>
					<div class="detail"><%-pro.output %></div>
				</div>
				<div>
					<div class="info">Sampe Input</div>
					<div class="detail"><pre><%=pro.sampleInput %></pre></div>
				</div>
				<div>
					<div class="info">Sample Output</div>
					<div class="detail"><pre><%=pro.sampleOutput %></pre></div>
				</div>
			</div>
			<div class="text-center">
				<div class="btn-group">
					<a id="submit" class="btn btn-success" href="/contests/<%=cont.cid%>/problem/<%=pro.subId %>/submit">Submit</a>
					<a id="Clarification" class="btn btn-default" href="/contests/<%=cont.cid%>/clarification/problem/<%=pro.subId%>/">Clarification</a>
					<a id="back" class="btn btn-default" href="/contests/<%=cont.cid%>">Back</a>
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
