<tr>
	<td><%=con.cid %></td>
	<td><a href="/contests/<%=con.cid%>"><%=con.title %></a></td>
	<td><%=con.start.format('yyyy-MM-dd hh:mm:ss') %></td>
	<td class="contest-type-<%=con.type %>"><%=contestType[con.type] %></td>
	<td class="contest-status-<%=con.status %>"><%=contestStatus[con.status] %></td>
</tr>
