<tr>
	<td >
		<% if (pro.solved) { %> 
			<p class="status-4">AC</p>
		<% } else if (pro.tried) { %>
			<p class="status-5">NO</p>
		<% } %>
	</td>
	<td><%=pro.pid %></td>
	<td><a href="/problems/problem/<%=pro.pid %>"><%=pro.title %></a></td>
	<td>
		<% if (pro.submit == 0) { %>
			0
		<% } else { %>
			<%=(pro.accepted*100/pro.submit).toFixed(2) %>
		<% } %>
		% ( <%=pro.accepted %> / <%=pro.submit %> )
	</td>
</tr>
