<tr class="<%=(pro.solved)?'success': (pro.tried)?'danger': '' %>">
	<td><%=pro.pid %></td>
	<td><a href="/problems/<%=pro.pid %>"><%=pro.title %></a></td>
	<td>
		<% if (pro.submit == 0) { %>
			0
		<% } else { %>
			<%=(pro.accepted*100/pro.submit).toFixed(2) %>
		<% } %>
		% ( <%=pro.accepted %> / <%=pro.submit %> )
	</td>
</tr>
