<div class="form-group">
	<label for="<%=name %>" class="col-sm-2 control-label"><%=label %></label>
	<div class="col-sm-<%=width %>">
		<textarea name="<%=name %>" id="<%=name %>" class="form-control" rows="<%=height %>"></textarea>
	</div>
	<span id="<%=name %>-warning" class="help-block"></span>
</div>
